// @import "../../assets/scss/theme.scss";

// .apexcharts-canvas {
//   text {
//     fill: $text-muted !important;
//   }
// }

.kpi-dashboard-tab {
	height: 300px;
}
.demo-graph-table .react-table {
	height: 370px;
	overflow-y: scroll;
}
.dashboard-export-btn {
	width: 235px;
	margin-left: 10px;
	border-radius: 16px !important;
}
.dashboard-range-picker {
	width: 160px !important;
}

.actiontype {
	width: 100px !important;
	margin-right: 10px;
}
